.int-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.int-card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    
    text-decoration: none;
    color: #333;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.int-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.int-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.int-paragraph {
    margin: 10px 0;
}


.int-int-search-bar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}

.int-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
}

.int-search-icon {
    margin-right: 8px;
    color: #777;
}

.int-search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}


/* #internship-card1 a{
    background-color: rgb(235, 84, 67);

}

#internship-card1 a h2{
    color: white;
} */


#internship-card2 a{
    background-color: rgb(235, 84, 67);

}

#internship-card2 a h2{
    color: white;
}
#internship-card2 a p{
    color: white;
}



/* #internship-card3 a{
    background-color: rgb(235, 84, 67);

}

#internship-card3 a h2{
    color: white;
} */



#internship-card4 a{
    background-color: rgb(235, 84, 67);

}

#internship-card4 a h2{
    color: white;
}
#internship-card4 a p{
    color: white;
}


#internship-card5 a{
    background-color: rgb(235, 84, 67);

}

#internship-card5 a h2{
    color: white;
}
#internship-card5 a p{
    color: white;
}


#internship-card7 a{
    background-color: rgb(235, 84, 67);

}

#internship-card7 a h2{
    color: white;
}
#internship-card7 a p{
    color: white;
}

